<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399976551727-srna5f66lu20vdkfh83qmb1tsb0ruj5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399976551727-srna5f66lu20vdkfh83qmb1tsb0ruj5o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>399976551727-rhhusn1qgm732tuils0mifoj6uot4pih.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCeQcBix2yrbifLlgA7zkecXiP2KT1Bv4A</string>
	<key>GCM_SENDER_ID</key>
	<string>399976551727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skanda.sharetableapp</string>
	<key>PROJECT_ID</key>
	<string>sharetableapp</string>
	<key>STORAGE_BUCKET</key>
	<string>sharetableapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399976551727:ios:ed61d53280260b6b067dda</string>
</dict>
</plist>